@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.clip-path-slant {
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

.gAZlsE {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: 13px;
  right: 0;
  background: linear-gradient(to right bottom, rgb(27, 0, 69), rgb(27, 0, 69) 49%, transparent 51%);
}

/* Original md (now sm) breakpoint */
@media only screen and (min-width: 640px) {
  .gAZlsE {
    width: 32px;
    height: 260px;
    right: unset;
  }
}

/* Original lg (now md) breakpoint */
@media only screen and (min-width: 768px) {
  .gAZlsE {
    height: 432px;
  }
}
